.learning__program__secttion {
  
}
.learning__container {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  padding: 81px 64px;
  row-gap: 102px;
  column-gap: 85px;
}
.learning__container .leaning__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.learning__container .leaning__box .learning__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #4E3064;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F1F5;
}
.learning__container .leaning__box .learning__image img {
  
}
.learning__container .leaning__box .leaning__title {
  color: #000000;
  font-size: 40px;
  font-weight: 900;
  line-height: 75px;
}